.button {
    background: $blue;
    color: white;
    border: none;
    padding: $s-size;
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
}

.button--link {
    background: none;   
}

.button--secondary {
    background: #888;
}